[Unit]
Description=eBPF Exec Sensor
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/ebpf-exec-sensor/sensor
LimitMEMLOCK=infinity
StandardOutput=journal
StandardError=journal
SyslogIdentifier=sensor
Restart=on-failure
RestartSec=2
ProtectSystem=full
RestrictRealtime=true
UMask=0077
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=strict
ProtectHome=yes
ProtectClock=yes
ProtectHostname=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
LockPersonality=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
RestrictAddressFamilies=AF_UNIX
IPAddressDeny=any
PrivateNetwork=yes
ProtectProc=invisible
ProcSubset=pid
RestrictNamespaces=yes
CapabilityBoundingSet=CAP_BPF CAP_PERFMON CAP_SYS_RESOURCE
AmbientCapabilities=CAP_BPF CAP_PERFMON CAP_SYS_RESOURCE

[Install]
WantedBy=multi-user.target
